*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

body{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 line-height: 1.5;
}

.container{
 padding: 0, 1rem;
}

.btn-submit{
 display: inline-block;
 border: none;
 background: rgb(1, 1, 34);
 cursor: pointer;
 color: #fff;
 padding: 7px 20px;
}
.btn-submit:hover{
 background: rgb(7, 7, 190);
}